{% extends 'base.html' %}

{% block pageheading %}
products
{% endblock %}

{% block main %}
<!--- this code only displays info for one product, use jinja to repeat block for each product. Reference each product by position in query list --->
  <div class = "category-products">
    <ul>
      {% for category in categories %}
      <li><a href="/products/{{ category[0] }}">{{ category[1] }}</a></li>


      {% endfor %}
    </ul>
  </div>
<div class="products">
  {% for product in products %}
    <div class="product-box">
      <div class="product-box-heading">
        <h3>{{ product[0] }}</h3>
      </div>
      <div class="product-box-image">
        <img src="/static/images/{{ product[3] }}.jpg">
      </div>
      <div class="product-box-info">
        <p>{{ product[1] }}</p>
        <p><strong>Size:</strong> {{ product[2] }}</p>
        <p><strong>Price:</strong> ${{ product[4] }}</p>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}
